---
layout: base
title: "Wspomóż reformę prawa autorskiego!"
icon: /img/30c3/icon.png
language: pl
---
<style type="text/css"> @import "../css/30c3.css"; </style>
<style type="text/css"> @import "../css/font-awesome.min.css"; </style>
<script type="text/javascript" src="../js/30c3.js"></script>
<script type="text/javascript">
  var guideSlug = 'crew_30c3_pl'
</script>

<div class="container step-start">
  <div id="step-start" class="jumbotron">

    {% include 30c3_lang.html %}
   
    <h1>Wspomóż reformę prawa autorskiego!</h1>

    <p><strong>Komisja Europejska chce znać Twoją opinię</strong> na temat reformy prawa autorskiego. Celem tej strony jest uproszczenie sposobu w jaki możesz odpowiedzieć na <a href="https://ameliaandersdotter.eu/konsultacje-dotyczace-prawa-autorskiego-modelowe-odpowiedzi">oficjalne konsultacje</a> poprzez odsianie pytań, które nie dotyczą Cię w bezpośredni sposób. Razem możemy sprawić, że nasze opinie i doświadczenia zostaną zauważone!</p>
    <p><small>Jeszcze jedna sprawa: Możesz udzielić odpowiedzi w dowolnym z <a href="http://pl.wikipedia.org/wiki/J%C4%99zyki_w_Unii_Europejskiej">24 oficjalnych języków UE</a>!</small></p>
    
    <h2>Na które z tych problemów natrafiłeś/natrafiłaś w związku z prawem autorskim stosowanym w UE?</h2>
    <ul>
      {% include problem.html key="youtube" text="Filmy na YouTube nie są dostępne w moim kraju" %}
      {% include problem.html key="imagesharing" text="Nie jest dla mnie jasne, czy mogę udostępniać obrazy na Facebooku itp." %}
      {% include problem.html key="filesharingconfusion" text="Nie jest dla mnie jasne, czy mogę dzielić się plikami z innymi (także przez Torrenta) lub/oraz miałem nawet problemy z tego powodu" %}
	  {% include problem.html key="drm" text="Nie mogę w swobodny sposób korzystać z mediów i wydawnictw ze względu na zabezpieczenia DRM. W praktyce mam mniej kontroli i wolności w korzystaniu z mediów i wydawnictw niż offline/w świecie analogowym." %}
      {% include problem.html key="resell" text="Wydałem/wydałam sporo pieniędzy na muzykę i książki w wersji cyfrowej ale mogę sprzedawać tych których dłużej nie chcę mieć lub nie potrzebuję." %}
      {% include problem.html key="mediacountry" text="Pewne media i wydawnictwa nie są dostępne do kupienia w moim kraju lub/oraz istnieją strony internetowe które są zablokowane w moim kraju." %}
      {% include problem.html key="remix" text="Nie ośmielę się zrobić remixu w obawie przed konsekwencjami." %}
      {% include problem.html key="subtitle" text="Nie jest dla mnie jasne, czy mogę legalnie robić podpisy do filmów, tłumaczenia lub inne konwersje wydawnictw." %}
      {% include problem.html key="fanfiction" text="Moja twórczość fanowska może być nielegalna." %}
      {% include problem.html key="stolencontent" text="Treści które stworzyłem były kopiowane bez zezwolenia." %}
      {% include problem.html key="takedown" text="Moja usługa internetowa była zagrożona wyłączeniem ze względu na potencjalne naruszenia praw autorskich." %}
      <!--{% include problem.html key="affordmedia" text="Nie stać mnie na zakup mediów i wydawnictw i czuję się wykluczony/wykluczona społecznie." %}-->
      {% include problem.html key="travel" text="Kiedy podróżuję do innego kraju Unii nie mam pewności jakie są różnice pomiędzy lokalnym prawem autorskim a tym w moim macierzystym kraju" %}
      <!--{% include problem.html key="cclicense" text="Organizacja zbiorowego zarządzania prawami autorskimi nie zezwala mi na opublikowanie mojej twórczości na licencji Creative Commons." %}-->
	  {% include problem.html key="enforcement" text="Uważam, że sposób wdrożenia prawa autorskiego przedkłada interesy twórców nad interesy obywateli." %}
      {% include problem.html key="links" text="Nie jest dla mnie jasne, czy zamieszczanie linków do innych treści jest objęte ochroną wynikającą z prawa autorskiego." %}
      {% include problem.html key="duration" text="Mam wrażenie, że okres ochronny praw autorskich jest zbyt długi." %}
    </ul>

    <a href="javascript:void(0)" class="btn btn-primary btn-lg" onclick="start(this)">Dalej &raquo;</a>

    <p><br /><small>Jeśli chcesz, możesz także <a href="http://youcan.fixcopyright.eu/pl/">odpowiedzieć na pełne 80 pytań</a> zamiast tego uproszczonego formularza. To nie jest niezbędne by odpowiedzieć na wszystkie pytania.</small></p>
  </div>

  <div id="step-problem" class="jumbotron">
    <p>Twój problem:</p>
    <h2></h2>
    <p>Ten problem odpowiada następującym pytaniom w zapytaniu Komisji Europejskiej:</p>
    <div id="problem"></div>
    <a id="next" href="javascript:void(0)" class="btn btn-primary btn-lg" onclick="step()">Następny problem &raquo;</a>
    <div class="form-group give-name" style="display:none">
      <label for="name">Twoje imię i nazwisko</label>
      <input type="text" class="form-control" id="name" placeholder="Wpisz swoje imię i nazwisko">
      <p class="help-block">
        Zwróć uwagę, że Twoje opinie <strong>zostaną opublikowane online</strong> przez UE!<br />
        Nie musisz podawać swojego imienia i nazwiska ale jest to rekomendowane.
      </p>
    </div>
    <a href="javascript:void(0)" class="download-document btn btn-primary btn-lg">Wyślij odpowiedzi &raquo;</a>
  </div>

  <div id="step-end" class="jumbotron">
    <h2>Teraz wyślij swoją odpowiedź do Komisji Europejskiej</h2>

    <!-- prefilled fields -->
    <input type="hidden" name="typeofrespondent" value="enduser" checked>
    <input type="hidden" class="form-control" id="register-id" placeholder="Register ID">

    <ol>
      <li>
        <a id="download" href="javascript:void(0)" class="btn btn-primary btn-lg" onclick="">Pobierz plik z odpowiedzią</a>
      </li>
      <li>
        <a href="mailto:markt-copyright-consultation@ec.europa.eu?subject={{ "Moja odpowiedź na konsultacje w sprawie prawa autorskiego" | uri_escape }}&body={{ "UPEWNIJ SIĘ, ŻE PLIK consultation-document_en.odt KTÓRY ŚCIĄGNĘŁAŚ/ŚCIĄGNĄŁEŚ JEST ZAŁĄCZONY DO TEGO E-MAILA I USUŃ TO ZDANIE" | uri_escape }}" target="_blank" class="btn btn-primary btn-lg">Wyślij pobrany plik z odpowiedziami e-mailem</a> do
        <input size="43" value="markt-copyright-consultation@ec.europa.eu" onclick="this.select()" />
        <p>
          <small><a href="http://ec.europa.eu/internal_market/consultations/2013/copyright-rules/docs/privacy-statement_en.pdf">Polityka prywatności Komisji Europejskiej</a> ma zastosowanie w tym kontekście.</small>
        </p>
      </li>
    </ol>

    <h2>Dziękujemy za pomoc w reformowaniu prawa autorskiego!</h2>

    <p>Możesz udostępnić tę stronę swoim znajomym? Im więcej odpowiedzi dotrze do UE, tym lepsza będzie ta reforma.</p>
	
	<ul class="fa-ul">
		<li><a href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fcopywrongs.eu%2F&t=Odpowiedź+na+konsultacje+w+sprawie+reformy+prawa+autorskiego" target="_blank"><i class="fa fa-facebook-square"></i> Udostępnij na Facebooku</a></li>
		<li><a href="https://twitter.com/intent/tweet?url=http%3A%2F%2Fwww.copywrongs.eu&via=copywrongs&text=Odpowiedź%20na%20konsultacje%20w%20sprawie%20reformy%20prawa%20autorskiego&related=copywrongs" target="_blank"><i class="fa fa-twitter-square"></i> Udostępnij na Twitterze</a></li>
		<li><a href="https://plus.google.com/share?url=http://copywrongs.eu/" target="_blank"><i class="fa fa-google-plus-square"></i> Udostępnij na Google+</a></li>
	</ul>

  </div>

  <div id="credits">
	  Skontaktuj się z nami <a href="mailto:hello@copywrongs.eu">za pomocą e-maila</a>, 
	  lub <a href="https://twitter.com/CopyWrongs">na Twitterze</a> &middot; stworzono na <a href="https://events.ccc.de/congress/2013/"><img src="../img/30c3/30c3.png" width="100" /></a> &middot;
	Strona używa <a href="http://fontawesome.io/">Font Awesome</a>.
	  <a href="https://github.com/PPOE/eucopyright"><i class="fa fa-github"></i> Zrób forka na GitHubie</a>
  </div>
</div>

<div id="questions"><!-- visually hidden -->
{% for question in site.data.questions %}
  {% include question_only.html %}
{% endfor %}
</div>
