---
layout: base
title: "Help reform copyright!"
icon: http://copywrongs.eu/img/30c3/icon.png
language: el
---
<style type="text/css"> @import "../css/30c3.css"; </style>
<style type="text/css"> @import "../css/font-awesome.min.css"; </style>
<script type="text/javascript" src="../js/30c3.js"></script>
<script type="text/javascript">
var guideSlug = 'crew_30c3_el'
</script>

<div class="container step-start">
  <div id="step-start" class="jumbotron">

    {% include 30c3_lang.html %}
    
    <h1>Βοήθησε στη μεταρρύθμιση των πνευματικών δικαιωμάτων!</h1>

    <p><strong>Η Ευρωπαϊκή Επιτροπή επιθυμεί να ακούσει τη γνώμη σου</strong> σχετικά με την μεταρρύθμιση των πνευματικών δικαιωμάτων. Ο σκοπός αυτής της ιστοσελίδας είναι να καταστήσει ευκολότερο για σένα, να ανταποκριθείς στην <a href="https://ameliaandersdotter.eu/diavoyleysi-gia-ta-pneymatika-dikaiomata-copyright-montelo-apantiseon">επίσημη διαβούλευση της ΕΕ</a>, φιλτράροντας τις ερωτήσεις που δεν αφορούν απευθείας εσένα. Μαζί μπορούμε να κάνουμε τις απόψεις και τις εμπειρίες μας να ακουστούν!</p>
    <p><small>Και κάτι ακόμα: Μπορείς να απαντήσεις στις ερωτήσεις σε οποιαδήποτε από τις <a href="http://en.wikipedia.org/wiki/Languages_of_the_European_Union">24 επίσημες γλώσσες της Ευρωπαϊκής Ένωσης</a> είσαι άνετος με αυτήν!</small></p>
    <h2>Με ποια από τα παρακάτω προβλήματα έχεις έρθει αντιμέτωπος πάνω σε θέματα πνευματικών δικαιωμάτων, μέσα στην ΕΕ;</h2>
    <ul>
      {% include problem.html key="youtube" text="Κάποια βίντεο στο YouTube δεν είναι διαθέσιμα ή δεν παίζουν,  στη χώρα μου" %}
      {% include problem.html key="imagesharing" text="Είμαι μπερδεμένος σχετικά με τη νομιμότητα της ανταλλαγής εικόνων στο Facebook, Tumblr, κλπ." %}
      {% include problem.html key="sharingcriminalization" text="Αντιγράφω, μοιράζω, κατεβάζω ή  αναμεταδίδω περιεχόμενο (ή θα ήθελα να), που προστατεύεται από πνευματικά δικαιώματα, αλλά  λόγω αυτών των δικαιωμάτων αισθάνομαι ότι παρανομώ." %}
	  {% include problem.html key="drm" text="Δεν θα μπορώ να χρησιμοποιήσω ελεύθερα το υλικό που  αγόρασα λόγω του DRM. Στην πραγματικότητα είχα λιγότερο έλεγχο και ελευθερία πάνω σε αυτό  το υλικό από ότι θα είχα στον  offline/αναλογικό κόσμο." %}
      {% include problem.html key="resell" text="Έχω ξοδέψει πολλά χρήματα για την αγορά ψηφιακών μουσικών κομματιών και βιβλίων, αλλά δεν μπορώ  να πουλήσω αυτά που δεν θέλω πια/δεν τα χρειάζομαι  πια." %}
      {% include problem.html key="mediacountry" text="Ορισμένα μέσα με υλικό δεν ήταν διαθέσιμα, για να τα αγοράσω στη χώρα μου ή/και ένα website που ήθελα να επισκεφτώ  ήταν μπλοκαρισμένο στη χώρα μου" %}
      {% include problem.html key="remix" text="Δεν τολμώ να κάνω ένα remix λόγω του φόβου πως θα έχω επιπτώσεις" %}
      {% include problem.html key="subtitle" text="Είμαι σε σύγχυση σχετικά με τη νομιμότητα  υποτιτλισμού, μετάφρασης ή τη μετατροπή περιεχομένου" %}
      {% include problem.html key="fanfiction" text="Η  fan fiction ή η fan art μου μπορεί να είναι παράνομη" %}
      {% include problem.html key="stolencontent" text="Το περιεχόμενό μου έχει αντιγραφεί χωρίς την άδειά μου" %}
      {% include problem.html key="takedown" text="Η υπηρεσία web που παρέχω έχει αντιμετωπίσει takedown notices και καταγγελίες  λόγω ενδεχόμενης παραβίασης πνευματικών δικαιωμάτων." %}
      <!--{% include problem.html key="affordmedia" text="I can't afford buying media and feel socially excluded" %}-->
      {% include problem.html key="travel" text="Όταν ταξιδεύω σε άλλο κράτος μέλος, δεν είμαι σίγουρος για το πως οι εκεί τοπικοί νόμοι περί πνευματικών δικαιωμάτων διαφέρουν από την πατρίδα μου" %}
      <!--{% include problem.html key="cclicense" text="Collection society doesn't allow me to release my music under a Creative Commons license" %}-->
      {% include problem.html key="filesharingconfusion" text="Είμαι μπερδεμένος σχετικά με τη νομιμότητα του  filesharing/torrenting ή/και έχω μπει  σε μπελάδες εξαιτίας του  filesharing/torrenting" %}
	  {% include problem.html key="enforcement" text="Έχω διαπιστώσει ότι η επιβολή των πνευματικών δικαιωμάτων βάζει τα συμφέροντα των δικαιούχων τους υψηλότερα από εκείνα των πολιτών." %}
      {% include problem.html key="links" text="Είμαι μπερδεμένος σχετικά με τη νομιμότητα της ανταλλαγής συνδέσεων (links) στο περιεχόμενο που είναι υπό την προστασία  πνευματικών δικαιωμάτων" %}
      {% include problem.html key="duration" text="Νιώθω ότι η διάρκεια των  πνευματικών δικαιωμάτων είναι υπερβολικά μεγάλη" %}
    </ul>

    <a href="javascript:void(0)" class="btn btn-primary btn-lg" onclick="start(this)">Συνέχεια &raquo;</a>

    <p><br /><small>Θα ήθελες να <a href="http://youcan.fixcopyright.eu/">απαντήσεις και στις 80 ερωτήσεις της διαβούλευσης</a> πάρα στις περιορισμένες ερωτήσεις που αναφέρονται παραπάνω; Και πάλι δεν είσαι υποχρεωμένος να απαντήσεις σε όλες τις ερωτήσεις.</small></p>
  </div>

  <form id="consultation-form" method="post" action="{{ site.document_service }}">
    <input type="hidden" name="language" value="{{ page.language }}" />

    <div id="step-problem" class="jumbotron">
      <p>Πρόβλημα:</p>
      <h2></h2>
      <p>Αυτό το πρόβλημα σχετίζεται με τις παρακάτω ερωτήσεις στο ερωτηματολόγιο της διαβούλευσης:</p>
      <div id="problem"></div>
      <a id="next" href="javascript:void(0)" class="btn btn-primary btn-lg" onclick="step()">Επόμενο πρόβλημα &raquo;</a>
      <div class="form-group give-name" style="display:none">
        <label for="name">Your full name</label>
        <input type="text" class="form-control save" name="name" id="name" placeholder="Enter your name">
        <p class="help-block">
          Please provide your name to make your voice count.
        </p>
      </div>
      <div class="form-group give-name" style="display:none">
        <label for="email"><span class="hidden-xs hidden-sm">Optional (use this when you are on Safari or IE): </span>Your email address</label>
        <input type="email" class="form-control save" name="email" placeholder="your@email.eu">
        <p class="help-block">
          <strong class="visible-xs visible-sm">The finished document will be sent to your email address.</strong>
          <span class="hidden-xs hidden-sm">We can send you the finished document by email.</span>
          <small>Your email address and all other input will <strong>not</strong> be used except for sending you the finished document.</small>
        </p>
      </div>
      <a href="javascript:void(0)" class="download-document btn btn-primary btn-lg">Στείλε τις απαντήσεις &raquo;</a>
    </div>

    <div id="questions"><!-- visually hidden -->
      {% for question in site.data.questions %}
      {% include question_only.html %}
      {% endfor %}
    </div>

  </form>

  <div id="step-end" class="jumbotron">
    <h2>Στείλε τις απαντήσεις σου στην Ευρωπαϊκή Επιτροπή</h2>

    <!-- prefilled fields -->
    <input type="hidden" name="typeofrespondent" value="enduser" checked>
    <input type="hidden" class="form-control" id="register-id" placeholder="Register ID">

    <ol>
      <li>
        <a id="download" href="javascript:void(0)" class="btn btn-primary btn-lg" onclick="">Κατέβασε το αρχείο με τις απαντήσεις σου</a>
      </li>
      <li>
        <a href="mailto:markt-copyright-consultation@ec.europa.eu?subject={{ "Η συμμετοχή μου στην διαβούλευση για τα πνευματικά δικαιώματα" | uri_escape }}&body={{ "ΠΑΡΑΚΑΛΟΥΜΕ, ΣΙΓΟΥΡΕΥΤΕΙΤΕ ΟΤΙ ΤΟ ΑΡΧΕΙΟ consultation-document_en.odt ΤΟ ΟΠΟΙΟ ΚΑΤΕΒΑΣΑΤΕ ΕΙΝΑΙ ΣΥΝΗΜΜΕΝΟ ΣΕ ΑΥΤΟ ΤΟ EMAIL ΚΑΙ ΑΦΑΙΡΕΣΤΕ ΑΥΤΗΝ ΤΗΝ ΥΠΕΝΘΥΜΙΣΗ" | uri_escape }}" target="_blank" class="btn btn-primary btn-lg">Στείλε το κατεβασμένο αρχείο με email</a> στην διεύθυνση
        <input size="43" value="markt-copyright-consultation@ec.europa.eu" onclick="this.select()" />
        <p>
          <small>Η <a href="http://ec.europa.eu/internal_market/consultations/2013/copyright-rules/docs/privacy-statement_en.pdf">Δήλωση Ιδιωτικότητας (Privacy statement) της Ερωπαϊκής Επιτροπής</a> που ισχύει.</small>
        </p>
      </li>
    </ol>

    <h2>Ευχαριστούμε για την συμμετοχή σας στην διαβούλευση για την μεταρύθμιση των πνευματικών δικαιωμάτων!</h2>

    <p>Θα ήθελες να μοιραστείς αυτήν την σελίδα με τους φίλους σου; Όσο περισσότερες απαντήσεις σταλούν στην ΕΕ, τόσο καλύτερη θα είναι η μεταρρύθμιση.</p>
	
	<ul class="fa-ul">
		<li><a href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fcopywrongs.eu%2F" target="_blank"><i class="fa fa-facebook-square"></i> Μοίρασε στο Facebook</a></li>
		<li><a href="https://twitter.com/intent/tweet?url=http%3A%2F%2Fwww.copywrongs.eu&via=copywrongs&text={{ "Είπα στην ΕΕ τι νομίζω πως πρέπει να γίνει για την μεταρρύθμιση των πνευματικών δικαιωμάτων. Μάλλον θα πρέπει και εσύ να κάνεις το ίδιο!" | uri_escape }}&related=copywrongs" target="_blank"><i class="fa fa-twitter-square"></i> Μοίρασε στο Twitter</a></li>
		<li><a href="https://plus.google.com/share?url=http://copywrongs.eu/" target="_blank"><i class="fa fa-google-plus-square"></i> Μοίρασε στο Google+</a></li>
	</ul>

  </div>

  <div id="credits">
	  Επικοινωνήστε μαζί μας <a href="mailto:hello@copywrongs.eu">μέσω email</a>, 
	  ή <a href="https://twitter.com/CopyWrongs">στο Twitter</a> &middot; κατασκευάστηκε στο <a href="https://events.ccc.de/congress/2013/"><img src="../img/30c3/30c3.png" width="100" /></a> &middot;
	χρησιμοποιήθηκαν <a href="http://fontawesome.io/">Font Awesome</a>.
	  <a href="https://github.com/PPOE/eucopyright"><i class="fa fa-github"></i> Fork on GitHub</a>
  </div>
</div>