---
layout: base
title: "Help reform copyright!"
icon: /img/30c3/icon.png
language: fr
---
<style type="text/css"> @import "../css/30c3.css"; </style>
<style type="text/css"> @import "../css/font-awesome.min.css"; </style>
<script type="text/javascript" src="../js/30c3.js"></script>
<script type="text/javascript">
  var guideSlug = 'crew_30c3_fr'
</script>

<div class="container step-start">
  <div id="step-start" class="jumbotron">

    {% include 30c3_lang.html %}
    
    <h1>Aidez à réformer le droit d'auteur!</h1>

    <p><strong>L’Union Européenne veut connaitre votre opinion sur la réforme du droit d'auteur. Sur ce site, nous vous aidons à répondre à <a href="https://ameliaandersdotter.eu/consulation-sur-le-droit-dauteur-reponses-type">cette consultation officielle de l'Union Européenne</a> en filtrant les questions qui ne s'appliquent pas à vous. Ensemble, nous pouvons faire en sorte que nos opinions et nos expériences soient entendues.</p>
    <p><small>Une dernière chose : Vous pouvez répondre  aux questions dans la langue (<a href="https://fr.wikipedia.org/wiki/Langues_dans_l%27Union_europ%C3%A9enne">de l'Union Européenne</a>) de votre choix.</small></p>
    
    <h2>Lequel de ces problèmes avez-vous rencontré avec le droit d'auteur dans les pays membre de l'Union Européenne?</h2>
    <ul>
      {% include problem.html key="youtube" text="Les Vidéos youtube ne sont pas visionnables dans mon pays." %}
      {% include problem.html key="imagesharing" text="Je suis perdu en ce qui concerne la légalité du partage d'images sur Facebook, Tumblr, etc." %}
      {% include problem.html key="sharingcriminalization" text="Je copie, partage, télécharge ou diffuse des oeuvres protégées ou voudrais bien le faire,et je me sens criminalisé à cause de ça." %}
      {% include problem.html key="drm" text="Je n'ai pas pu utiliser librement un média que j'ai acheté à cause d'un DRM, en fait j'ai eu moins de libertés que ce que je peux avoir hors ligne/dans le monde réel." %}
      <!--TO TRANSLATE-{% include problem.html key="resell" text="I have spent a lot of money on digital music tracks and books, but I cannot sell the ones I no longer want / need." %}-->
      {% include problem.html key="mediacountry" text="Certains médias ne sont pas disponibles à l'achat ou un site que je voulais consulter est bloqué dans mon pays." %}
      {% include problem.html key="remix" text="Je n'ai pas osé faire de remix par peur des répercussions." %}
      {% include problem.html key="subtitle" text="Je suis perdu en ce qui concerne la légalité de sous-titrer, traduire, convertir, etc. des médias." %}
      {% include problem.html key="fanfiction" text="Mon hommage fictionnel ou artistique à une oeuvre pourrait être illégal" %}
      {% include problem.html key="stolencontent" text="Quelqu'un a volé mon contenu, Fichtre!" %}
      {% include problem.html key="takedown" text="J'ai proposé un service web qui a été bloqué ou sur lequel j'ai reçu des plaintes (Mon compte Youtube/Vimeo a été bloqué)" %}
      <!--{% include problem.html key="affordmedia" text="I can't afford buying media and feel socially excluded" %}-->
      {% include problem.html key="travel" text="Quand je voyage dans un autre état-membre, je ne connais pas les lois locales sur le copyright et je ne sais pas en quoi elles différent de mon pays d'origine." %}
      <!--{% include problem.html key="cclicense" text="Collection society doesn't allow me to release my music under a Creative Commons license" %}-->
      {% include problem.html key="filesharingconfusion" text="Je suis perdu en ce qui concerne la légalité du partage de fichier/partage torrent ou j'ai eu des problèmes à cause du partage de fichier/partage torrent." %}
      {% include problem.html key="enforcement" text="J'ai fait l'expérience du fait que les lois sur le copyright font passer les intérêts des ayants-droit  avant ceux des citoyens" %}
      {% include problem.html key="links" text="Je suis perdu en ce qui concerne la légalité du partage de liens vers du contenu protégé par le droit d'auteur." %}
      <!--{% include problem.html key="duration" text="I feel like copyright duration is excessively long" %}-->
    </ul>

    <a href="javascript:void(0)" class="btn btn-primary btn-lg" onclick="start(this)">Continuer &raquo;</a>

    <p><br /><small>Souhaitez vous <a href="http://youcan.fixcopyright.eu/">répondre à la consultation entière et à ses 80 questions</a> plutôt qu'au questionnaire simplifié? Il n'est pas nécessaire de répondre à toutes les questions.</small></p>
  </div>

  <div id="step-problem" class="jumbotron">
    <p>Votre problème:</p>
    <h2></h2>
    <p>Ce problème a trait à la question suivante de la consultation:</p>
    <div id="problem"></div>
    <a id="next" href="javascript:void(0)" class="btn btn-primary btn-lg" onclick="step()">Problème suivant &raquo;</a>
    <div class="form-group give-name" style="display:none">
      <label for="name">Votre nom</label>
      <input type="text" class="form-control" id="name" placeholder="Envoyer votre réponse">
      <p class="help-block">
        Notez que votre contribution sera publiée en ligne par l’UE!<br />
        Vous n’êtes pas obligé de donner votre nom.
      </p>
    </div>
    <a href="javascript:void(0)" class="download-document btn btn-primary btn-lg">Envoyer votre réponse &raquo;</a>
  </div>

  <div id="step-end" class="jumbotron">
    <h2>Envoyez maintenant votre compte-rendu à la Commission Européenne</h2>

    <!-- prefilled fields -->
    <input type="hidden" name="typeofrespondent" value="enduser" checked>
    <input type="hidden" class="form-control" id="register-id" placeholder="Register ID">

    <ol>
      <li>
        <a id="download" href="javascript:void(0)" class="btn btn-primary btn-lg" onclick="">Téléchargez le fichier de réponse</a>
      </li>
      <li>
        <a href="mailto:markt-copyright-consultation@ec.europa.eu?subject={{ "My contribution to the copyright consultation" | uri_escape }}&body={{ "PLEASE MAKE SURE THE FILE consultation-document_en.odt WHICH YOU DOWNLOADED IS ATTACHED TO THIS EMAIL AND REMOVE THIS NOTICE" | uri_escape }}" target="_blank" class="btn btn-primary btn-lg">Envoyez le document complété</a> à l'adresse
        <input size="43" value="markt-copyright-consultation@ec.europa.eu" onclick="this.select()" />
        <p>
          <small><a href="http://ec.europa.eu/internal_market/consultations/2013/copyright-rules/docs/privacy-statement_en.pdf">La déclaration relative à la Vie Privée de l'Union Européenne</a> s'applique ici.</small>
        </p>
      </li>
    </ol>

    <h2>Merci pour votre contribution à la défense de la réforme du droit d'auteur.</h2>

    <p>Souhaitez-vous partager cette page avec vos amis? Plus il y aura de réponses, meilleure sera la réforme!</p>
	
	<ul class="fa-ul">
		<li><a href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fcopywrongs.eu%2F&t=Answer+to+the+EU+Commission+copyright+consultation" target="_blank"><i class="fa fa-facebook-square"></i> Share on Facebook</a></li>
		<li><a href="https://twitter.com/intent/tweet?url=http%3A%2F%2Fwww.copywrongs.eu&via=copywrongs&text=Reply%20to%20the%20EC%20copyright%20consultation&related=copywrongs" target="_blank"><i class="fa fa-twitter-square"></i> Share on Twitter</a></li>
		<li><a href="https://plus.google.com/share?url=http://copywrongs.eu/" target="_blank"><i class="fa fa-google-plus-square"></i> Share on Google+</a></li>
	</ul>

  </div>

  <div id="credits">
	  Contact us <a href="mailto:hello@copywrongs.eu">via email</a>, 
	  or <a href="https://twitter.com/CopyWrongs">on Twitter</a> &middot; made at <a href="https://events.ccc.de/congress/2013/"><img src="../img/30c3/30c3.png" width="100" /></a> &middot;
	Uses <a href="http://fontawesome.io/">Font Awesome</a>.
	  <a href="https://github.com/PPOE/eucopyright"><i class="fa fa-github"></i> Fork on GitHub</a>
  </div>
</div>

<div id="questions"><!-- visually hidden -->
{% for question in site.data.questions %}
  {% include question_only.html %}
{% endfor %}
</div>
